Underhell/[Ll]ibrary/
Underhell/[Tt]emp/
Underhell/[Oo]bj/
Underhell/[Bb]uild/
/[Bb]uild/
Underhell/[Bb]uilds/
/[Bb]uilds/
Underhell/Assets/AssetStoreTools*

Underhell/.vs/
Underhell/Library/

Underhell/ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.pidb.meta
*.apk
*.unitypackage
sysinfo.txt
Underhell/Assets/Scenes/Alpha0.1TestScene/
